 image: docker:stable

 variables:

   DOCKER_HOST: tcp://docker:2375/

   DOCKER_DRIVER: overlay2

 services:
   - docker:dind

 before_script:
   - docker info

 build:
   stage: build
   script:
     - docker build -t my-docker-image .
     - docker push my-docker-image .