image: docker:latest
services:
- docker:dind

stages:
- build
- test
- release

#variables:
#  TEST_IMAGE: https://gitlab.com/QuasterK/frontend.git
#  RELEASE_IMAGE: https://gitlab.com/QuasterK/frontend.git:latest

before_script:
  - npm install

build:
  stage: build
  script:
    - docker build --pull -t $TEST_IMAGE .
    - docker push $TEST_IMAGE

test:
  stage: test
  script:
    - docker pull $TEST_IMAGE
    - docker run $TEST_IMAGE npm test

release:
  stage: release
  script:
    - docker pull $TEST_IMAGE
    - docker tag $TEST_IMAGE $RELEASE_IMAGE
    - docker push $RELEASE_IMAGE
  only:
    - master